<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#000000">
  <title>Samsung Internet Dev Hub</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="stylesheet" href="font/fonts.css">
</head>
<body lang="en">
  <header>
    <h1 class="header-title"><img alt="Samsung Internet" class="logo-top" src="https://cdn.glitch.com/afe39c82-11b3-4eb3-bfea-8f1765823dc0%2FtopLogo.svg?1516808358954"/>Dev Hub</h1>    
    {{ partial "nav.html" . }}
  </header>