:root {
  --color-text: #333;
  --color-purple: #706CF5;
  --color-purple-translucent:rgba(112, 108 ,245,.85);
  --color-dark-grey:#3D3D3D;

  --size-spacer-sm: 10px;
  --size-spacer: 30px;
  --size-spacer-margin: 0.2em 1em 0.2em 1em;
  --size-spacer-article: 25px 15px 30px 15px;
  --size-icon: 50px;
  --size-author: 60px;
  --size-author-small: 40px;

  --font-title: 1.6em;
  --font-subtitle: 1.4em;
  --font-lh: 1.4em;
  --font-menu: 1.2em;

  --main-menu-bg: rgba(0,0,0,0.8);
}

body {
  padding-bottom: var(--size-icon);
  font-family: 'Samsung One';
}

header {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: var(--size-icon);
  padding: var(--size-spacer-margin);
  color: white;
  background-color: var(--color-purple-translucent);
  z-index:1;
}

.header-title {
  font-size: var(--font-title);
  text-align: right;
}

.logo-top{
  height:1em;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.feature{
  width: 100%;
  overflow: hidden;
}

.feature-img {
  display: block;
  width: calc(100% + var(--size-spacer) + var(--size-spacer)); 
  margin-left: calc(var(--size-spacer) * -1);
}

.feature-info {
  position: relative;
  display: flex;
  align-items: center;
  max-height: var(--size-icon);
  margin-bottom: 5px;
  color: white;
  background-color: var(--color-purple);
}

.feature-info::after {
  content:"";
  display: block;
  width: var(--size-icon);
  height: calc(var(--size-icon) - var(--size-spacer));
}

.bluetooth::after {
  background: url(https://cdn.glitch.com/afe39c82-11b3-4eb3-bfea-8f1765823dc0%2Fbluetooth.svg?1516799782922) no-repeat center;
  background-size: contain;
}

.feature-title {
  width: calc(100% - 100px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-subtitle);
  line-height: var(--font-lh);
}

.feature-author {
  flex-shrink: 0;
  width: var(--size-author);
  height: var(--size-author);
  overflow: hidden;
  margin: var(--size-spacer-margin);  
}

.author-feature-img {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.author-img {
  width:40px;
  border-radius:50%;
}

.article {
  position: relative;
  margin: var(--size-spacer-article);
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.article-title{
  border-bottom: var(--color-purple) solid 2px;
  margin-bottom: 10px;
  padding-bottom: 10px;

}

.article-img {
  width: 100%;
}

.article-info {
  color:var(color-dark-grey);
  margin:10px;
  display: block;
}

.article-author {
  width: var(--size-author-small);
  height: var(--size-author-small);
  margin-top:-30px;
  overflow: hidden;
  float:right;
}

.tags {
  font-style: italic;
  font-size: 0.9em;
}

.menu {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 100%;
  background-color: rgba(250,250,250,.95);
}

.home-logo {
  height: var(--size-icon);
}

.menu-link {
  padding: var(--size-spacer-sm) 0;
  font-size: var(--font-menu);
  text-decoration: none;
  color: var(--color-text);
}

@media (max-width: 949px) {
  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size-icon);
    height: var(--size-icon);
    padding-top: var(--size-icon);
  }
  
  .menu-control {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: var(--size-icon);
    height: var(--size-icon);
    background: url('../images/menuIcon.svg') no-repeat center;
    background-size: .3em
  }
  
  .menu-checkbox {
    display: none;
  }
  
  .nav-links {
    position: absolute;
    top: var(--size-icon);
    max-height: 0;
    overflow: hidden;
    background-color: var(--main-menu-bg);
  }
  
  .menu-checkbox:checked + .nav-links {
    max-height: 500px;
    transition: max-height 1s;
  }
  
  .nav-link {
    display: block;
    width: calc(100vw - var(--size-spacer) - var(--size-spacer));
    margin: 0 var(--size-spacer);
    padding: var(--size-spacer);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    line-height: var(--font-lh);
    text-align: center;
  }
}

@media (min-width: 650px) {
  body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: var(--grid-gap);
  }

  .feature {
    grid-column: span 2;
  }
}

@media (min-width: 950px) {
  .nav {
    position: relative;
  }

  .menu-checkbox {
    display: none;
  }

  .nav-link {
    padding-right: var(--size-spacer);
  }

  .menu {
    display: none;
  }
}